/*#region Webshopmasterpage */

* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
    font-size: 1.5em;
    font-family: Alef;
    min-height: 100vh;
}

#body {
    background-color: aliceblue;
    min-height: calc(100vh - 358px); /*12 pixels minder dan header (70px) + footer (300px) height*/
}

/*#region nav */

header {
    width: 100%;
    height: 70px;
    overflow: hidden;
    padding-top: .3%;
    padding-bottom: .3%;
    padding-left: 5%;
    padding-right: 2%;
    background-color: gainsboro;
}

nav {
    width: 100%;
    overflow: hidden;
    height: 100%;
    display: grid;
    grid-template-columns: 10% 30% 30% 15% 15%;
    align-items: center;
}

.navlogo {
    height: 80%;
    width: 100%;
    cursor: pointer;
    /*background-image: url('../images/logo_metnaam_original.png');*/
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}

.navprofiel {
    height: 80%;
    width: 80%;
    text-align: left;
    padding-left: 25%;
    cursor: pointer;
    font-size: 1em;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url('../images/aanmelden.png');
    background-position: 10%;
    background-size: 15%;
    border: none;
    background-color: transparent;
    border-radius: 10px;
    transition: background-color 0.2s ease-in;
    text-overflow: ellipsis;
}

    .navprofiel:active {
        cursor: default;
    }

    .navprofiel:hover, .navwinkelkar:hover {
        background-color: darkgray;
        transition: background-color 0.2s ease-in;
    }

.navwinkelkar {
    height: 80%;
    width: 20%;
    margin-left: 5%;
    background-image: url('../images/winkelkar.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-align: left;
    font-weight: bold;
    background-color: transparent;
    border-radius: 10px;
    transition: background-color 0.5s ease-out;
    color: darkorange;
    font-size: .6em;
    padding-left: 7% !important;
}

    .navwinkelkar:active {
        cursor: default;
    }

nav > div {
    height: 80%;
    overflow: hidden;
}

    nav > div > input {
        margin-right: 0px;
        font-size: 1em;
        padding: 10px;
        font-family: Alef;
        border: solid gray 2px;
        box-shadow: 3px 2px 5px;
        height: auto;
        background-color: white;
        transition: background-color .2s ease-in;
    }

        nav > div > input:hover {
            background-color: whitesmoke;
            transition: background-color .2s ease-out;
        }

        nav > div > input:active {
            cursor: default;
            background-color: darkgray;
        }

        nav > div > input[type=submit] {
            cursor: pointer;
            background-color: lightgray;
            transition: background-color 0.2s ease-in;
        }

            nav > div > input[type=submit]:hover {
                background-color: darkgray;
                transition: background-color 0.5s ease-out;
            }

            nav > div > input[type=submit]:active {
                background-color: gray;
                cursor: default;
            }

nav > button {
    font-size: 1em;
    box-shadow: 3px 2px 5px;
    height: 80%;
    padding-top: 2%;
    padding-left: 0%;
    padding-right: 0%;
    box-sizing: border-box;
    cursor: pointer;
}

    nav > button:hover {
        background-color: lightgray;
    }

    nav > button > img {
        box-sizing: border-box;
        height: 70%;
        float: left;
        margin-left: 10%;
        padding-top: 3%;
    }

    nav > button > span {
        float: right;
        margin-right: 3%;
        margin-bottom: 4%;
    }

/*#region keyframes */

@media only screen and (max-width: 1601px) {

    nav > span > input[type=text] {
        width: 60%;
        font-size: 1.2em;
        height: 50px;
        display: inline-block;
    }

    nav > span > input[type=submit] {
        height: 70px;
        display: inline-block;
        width: 25%;
    }

    nav > button {
        font-size: 1.2em;
        height: 70px;
    }

        nav > button > img {
            padding-top: 2%;
            height: 60%;
        }
}

/*#endregion */

/*#endregion */

/*#region footer */

footer {
    width: 100%;
    bottom: 0;
}

.footer {
    padding-left: 15%;
    padding-top: 2%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 180px;
    max-height: 180px;
    background-color: gainsboro;
    color: gray;
}

    .footer > img {
        height: 100%;
    }

#belowfooter {
    background-color: gainsboro;
    bottom: 0%;
    position: relative;
    width: 100%;
    padding: 1%;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
}

    #belowfooter > h4 {
        color: darkgray;
        font-size: .7em;
    }

        #belowfooter > h4 > a {
            font-size: 1em;
            color: gray;
        }

/*#endregion */

/*#endregion */
/*#region shop */

/*#region voorkeuren */

.upVoorkeuren {
    width: 20%;
    height: 100%;
    float: left;
    padding-left: 10%;
    padding-top: 2%;
    min-height: 100vh;
    padding-bottom: 2%;
}

.preferencesdiv {
    color: black;
}

    .preferencesdiv > div {
        border: solid lightgray 2px;
    }

        .preferencesdiv > div > h4 {
            background-color: lightgray;
            color: gray;
            padding: 2% 4%;
            margin-bottom: 4%;
        }

        .preferencesdiv > div > table {
            padding: 2% 4%;
            width: 100%;
        }

    .preferencesdiv label {
        margin-left: 10px;
    }

    .preferencesdiv input {
        border: solid lightgray 2px;
    }

.voorkeursoort {
    color: gray;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .voorkeursoort input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 4px solid #eee;
}

.voorkeursoort:hover input ~ .checkmark {
    background-color: #ccc;
}

.voorkeursoort input:checked ~ .checkmark {
    background-color: gray;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.voorkeursoort input:checked ~ .checkmark:after {
    display: block;
}

.voorkeursoort .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.prijzen {
    color: gray;
    padding-bottom: 2%;
}

    .prijzen > div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
    }

    .prijzen > label {
        width: 80%;
    }

    .prijzen > div > div {
        width: 30%;
    }

        .prijzen > div > div > input {
            font-size: 1em;
            padding-left: 2px;
            width: 90%;
            color: gray;
        }

        .prijzen > div > div > span {
            width: 100%;
        }

.prijsbutton {
    visibility: hidden;
    width: 0;
    height: 0;
    float: left;
}

/*Verwijderen van pijltjes bij input type number*/
.prijzen input::-webkit-outer-spin-button,
.prijzen input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.prijzen input[type=number] {
    -moz-appearance: textfield;
}

/*#endregion */

/*#region items */

.upItems {
    width: 70%;
    float: right;
    min-height: 100vh;
}

.deitems {
    /*float: right;*/
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    overflow: auto;
}

.itemlist {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 100%;
    grid-gap: 50px;
    padding: 4% 2%;
}

.itemdiv {
    background-color: white;
    border-radius: 20px;
    border: solid darkgray 2px;
}

    .itemdiv > input {
        width: 100%;
        display: block;
    }

        .itemdiv > input:active {
            cursor: default;
        }

    .itemdiv > h4 {
        color: darkgray;
        font-size: 1em;
        display: block;
        margin-left: 4%;
    }

.productnaam {
    color: black;
    font-weight: bold;
    word-break: break-word;
    font-size: 1.2em;
    display: block;
    margin-left: 4%;
    border: none;
    cursor: pointer;
    text-align: left;
    background-color: transparent;
}

    .productnaam:active {
        cursor: default;
    }

.prijs {
    color: orangered;
    font-size: 1.5em;
    display: block;
    margin-left: 4%;
}

.btnwinkelwagen, .btnfavoriet {
    color: black;
    border: darkgray solid 2px;
    float: left;
    width: 50%;
    font-size: 1.5em;
    padding: 1%;
    cursor: pointer;
    opacity: .8;
}

.btnwinkelwagen {
    background-color: yellow;
    opacity: 0.6;
    background-image: url('../images/pluswinkelkar.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2em;
}

.btnfavoriet {
    background-color: lightpink;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.2em;
}

    .btnwinkelwagen:hover, .btnfavoriet:hover {
        opacity: 1;
    }

#thepages {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100px;
    padding-top: 2%;
    padding-bottom: 2%;
}

    #thepages > input {
        height: 50px;
        width: 50px;
        border: none;
        opacity: 0.8;
        cursor: pointer;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: transparent;
    }

        #thepages > input:hover {
            opacity: 1;
        }

        #thepages > input > img {
            height: 100%;
        }

    #thepages > span {
        margin-left: 2%;
        margin-right: 2%;
        color: gray
    }

    #thepages > span {
        cursor: pointer;
        font-size: 1.5em;
    }

        #thepages > span:hover {
            color: black;
        }

        #thepages > span:active {
            color: lightgray;
        }

.divNoItems {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: black;
    height: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}

/*#endregion */
/*#endregion */
/*#region Default */

#defaultbody {
    height: 100%;
    min-height: 100vh;
    width: 100%;
}

/*#region MeestBekeken */
.mbekekenlist {
    width: 70%;
    height: 40%;
    background-color: white;
    border: solid darkgray 4px;
    overflow: hidden;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
}

    .mbekekenlist > div {
        display: grid;
        padding: 2%;
        grid-template-columns: 18% 18% 18% 18% 18%;
        grid-gap: 1.2em;
    }

    .mbekekenlist > h1 {
        width: 100%;
        height: 20%;
        text-align: center;
        overflow: hidden;
    }

.mbekeken {
    border: lightgray solid 2px;
    box-shadow: none;
    transition: box-shadow 0.2s ease-in;
    background-color: white;
    overflow: hidden;
}

    .mbekeken:hover {
        -moz-box-shadow: 0 0 10px darkgray;
        -webkit-box-shadow: 0 0 100px darkgray;
        box-shadow: 0 0 10px darkgray;
        transition: box-shadow 0.3s ease-out;
    }

    .mbekeken > input {
        width: 100%;
        display: block;
    }

        .mbekeken > input:active {
            cursor: default;
        }

    .mbekeken > h2 {
        color: red;
    }

    .mbekeken > span {
        width: 100%;
        padding: 2%;
    }

        .mbekeken > span > input {
            color: gray;
            margin-left: 2%;
            background-color: transparent;
            font-size: 1em;
            border: none;
            text-align: left;
            cursor: pointer;
        }

            .mbekeken > span > input:active {
                cursor: default;
            }

        .mbekeken > span > span:first-child {
            color: black;
            margin-left: 0%;
        }

/*#endregion */

/*#region categorieen */

.hoofdcategorieen {
    width: 70%;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.categoriediv {
    border: none;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    opacity: 0.8;
    overflow: hidden;
    font-size: 1.5em;
    transition: background-color opacity font-size font-weight;
    transition-duration: 1s;
    cursor: pointer;
    position: relative;
    height: 300px;
    margin-bottom: 4%;
    margin-right: 2%;
    margin-left: 2%;
}

    .categoriediv:hover {
        background-color: darkgray;
        color: white;
        font-size: 2em;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        opacity: 1;
        transition: background-color opacity font-size;
        transition-duration: 1s;
    }

/*#endregion */


/*#endregion */
/*#region ProductPage */

#Productinfo {
    width: 100%;
    min-height: calc(100vh - 70px);
    height: 100%;
    grid-template-columns: 50% 50%;
}

#productinfodiv {
    width: 100%;
    min-height: calc(100vh - 70px);
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 1.5em;
}

    #productinfodiv > div {
        height: 100%;
        width: 100%;
        color: #303030;
    }

#lproductinfo {
    background-color: ghostwhite;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

    #lproductinfo > img {
        width: 70%;
        height: 100%;
        object-fit: contain;
        display: block;
    }

#rproductinfo {
    width: 100%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

    #rproductinfo > div {
        width: 70%;
        min-height: 60%;
    }

        #rproductinfo > div > span {
            text-align: center;
            display: block;
            margin-top: 3%;
        }

        #rproductinfo > div > div {
            display: grid;
            grid-template-columns: 50% 50%;
            padding: 3%;
        }

            #rproductinfo > div > div > span {
                display: block;
                text-align: center;
                margin-top: 8%;
                align-self: center;
            }

            #rproductinfo > div > div > input {
                display: block;
                margin-top: 8%;
                font-size: .8em;
                margin-left: auto;
                margin-right: auto;
                background-repeat: no-repeat;
                padding: 4%;
                padding-left: 6%;
            }

.btnwinkelwagenx {
    width: 90%;
    background-image: url('../images/pluswinkelkar.png');
    background-position: 5%;
    background-size: 1.5em;
    text-align: right;
}

.btnfavorietx {
    width: 60%;
    background-image: url('../images/favorite_not.png');
    background-position: 95%;
    background-size: 1em;
    text-align: left;
}

#rproductinfo > div > p {
    padding: 5%;
}

/*#endregion */
/*#region LoginPage */

#logindiv {
    width: 100%;
    min-height: calc(100vh - 70px);
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 1em;
}

    #logindiv > div {
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: darkgray 2px solid;
    }

        #logindiv > div > div {
            width: 60%;
            margin-left: auto;
            margin-right: auto;
            padding: 2%;
            background-color: lightgray;
        }

            #logindiv > div > div > h2 {
                text-align: center;
                color: white;
            }

            #logindiv > div > div > div {
                padding: 2%;
                display: grid;
                grid-template-columns: 50% 50%;
            }

                #logindiv > div > div > div > span, #logindiv > div > div > div > input {
                    margin-bottom: 10%;
                }

                #logindiv > div > div > div > div > input, #logindiv > div > div > div > input {
                    color: gray;
                    padding: 10px;
                    border: ghostwhite 2px solid;
                    font-size: 0.7em;
                }

                #logindiv > div > div > div > div > input {
                    width: 100%;
                }

                    #logindiv > div > div > div > input:hover, #logindiv > div > div > div > div > input:hover {
                        background-color: ghostwhite;
                        transition: background-color 0.2s ease-out;
                    }

                    #logindiv > div > div > div > input:active, #logindiv > div > div > div > div > input:active {
                        cursor: default;
                        background-color: lightgray;
                    }

            #logindiv > div > div > span {
                padding: 10px;
                font-size: 0.8em;
                float: left;
                margin-right: 2%;
                margin-top: 2%;
                color: orangered;
            }

.aanmeldenlast {
    margin-bottom: 0 !important;
}

#logindiv > div > div > input {
    padding: 10px;
    border: black solid 2px;
    font-size: 0.8em;
    cursor: pointer;
    float: right;
    margin-right: 2%;
    margin-top: 2%;
    background-color: lightgray;
    transition: background-color 0.2s ease-in;
    color: black;
}

    #logindiv > div > div > input:hover {
        background-color: darkgray;
        transition: background-color 0.5s ease-out;
    }

    #logindiv > div > div > input:active {
        background-color: gray;
        cursor: default;
    }

.customcb {
    color: black;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    margin-top: 2%;
    width: 50%;
}

    .customcb input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .customcb:hover input ~ .checkmark {
        background-color: ghostwhite;
    }

    .customcb input:checked ~ .checkmark {
        background-color: gray;
    }

        .customcb input:checked ~ .checkmark:after {
            display: block;
        }

    .customcb .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .customcb > a {
        margin-left: 4%;
    }

    .customcb > span {
        background-color: white;
    }

.erroraanmelden {
    width: 100%;
}

/*#endregion */
/*#region Bevestiging */

.bevestigingsdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    min-height: calc(100vh - 358px); /*12 pixels minder dan header (70px) + footer (300px) height*/
}

    .bevestigingsdiv > div {
        width: 80%;
    }

        .bevestigingsdiv > div > h1, .geslaagddiv > div > h1 {
            text-align: center;
            margin-bottom: 5%;
        }

        .bevestigingsdiv > div > p {
            text-align: center;
            margin-bottom: 5%;
        }

.registratievoltooiendiv > p > input {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: dodgerblue;
    font-size: 1em;
}

.registratievoltooiendiv > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .registratievoltooiendiv > div > input[type=text] {
        border: solid lightgray 2px;
        padding: 10px;
        color: gray;
        width: 20%;
        transition: background-color 0.2s ease-in;
    }

        .registratievoltooiendiv > div > input[type=text]:hover {
            background-color: ghostwhite;
            transition: background-color 0.5s ease-out;
        }

        .registratievoltooiendiv > div > input[type=text]:active {
            background-color: lightgray;
        }

    .registratievoltooiendiv > div > input[type=submit] {
        border: solid lightgray 2px;
        padding: 10px;
        color: black;
        background-color: lightgray;
        transition: background-color 0.2s ease-in;
        cursor: pointer;
    }

        .registratievoltooiendiv > div > input[type=submit]:hover {
            background-color: darkgray;
        }

        .registratievoltooiendiv > div > input[type=submit]:active {
            cursor: pointer;
            background-color: darkgray;
        }

/*#endregion */
/*#region ProfilePage */

#Profielpagina {
    min-height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

    #Profielpagina > div {
        width: 85%;
        max-height: 700px;
        font-size: 1em;
        overflow: hidden;
        padding: 0;
    }

#profielknoppen {
    left: 0;
    float: left;
    width: calc(15% - 1px);
    border-right: dotted 1px gray;
    padding-top: 10%;
    background-image: linear-gradient(to right, transparent);
    transition: background-image 0.2s ease-in;
}

    #profielknoppen > input:first-child {
        border-top: dotted 1px gray;
    }

    #profielknoppen > input {
        left: 0;
        width: 100%;
        display: block;
        align-items: center;
        border: none;
        border-bottom: dotted 1px gray;
        padding: 10px;
        padding-right: 10%;
        font-size: 1em;
        cursor: pointer;
        background-color: transparent;
        transition: background-color 0.2s ease-in;
        text-align: right;
    }

        #profielknoppen > input:hover {
            background-image: linear-gradient(to right, transparent, lightgray);
            transition: background-image 0.5s ease-out;
        }

#profielgegevens {
    width: 85%;
    float: right;
    height: 100%;
    overflow: hidden;
}

#persgegdiv {
    display: grid;
    grid-template-columns: 45% 55%;
    padding: 2% 10% 4% 10%;
}

.pnlgegevens > h2 {
    margin-bottom: 2% !important;
}

#persgegdiv > span {
    text-align: right;
    padding-right: 10%;
}

#persgegdiv > input {
    margin-bottom: 2%;
    padding: 10px;
    font-size: 1em;
    width: 90%;
    color: gray;
    border: solid 2px lightgray;
    background-color: white;
    transition: background-color 0.2s ease-in;
    display: block;
}

#persgegdiv > div {
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
}

    #persgegdiv > div > input {
        padding: 10px;
        font-size: 1em;
        width: 90%;
        color: gray;
        border: solid 2px lightgray;
        background-color: white;
        transition: background-color 0.2s ease-in;
        display: block;
    }

.wachtwoordtwee {
    border-top: none !important;
}

#persgegdiv > input:hover, #persgegdiv > div > input:hover {
    background-color: ghostwhite;
    transition: background-color 0.5s ease-out;
}

#persgegdiv > input:active, #persgegdiv > div > input:active {
    background-color: lightgray;
    transition: background-color 0.5s ease-out;
}

#profielgegevens > div {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

    #profielgegevens > div > h2 {
        text-align: center;
        width: 100%;
        margin-bottom: 0%;
        border: solid 1px gray;
        background-color: darkgray;
        color: white;
    }

    #profielgegevens > div > input {
        position: absolute;
        left: 50%;
        right: 50%;
    }

/*#region Toggle */

.toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    float: right;
    margin-right: 4%;
}

    .toggle input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

#profielgegevens input:checked + .slider {
    background-color: #2196F3;
}

#profielgegevens input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

#profielgegevens input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

#profielgegevens > div > span {
    float: right;
    margin-right: 1%;
}

.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

/*#endregion */

.lble {
    float: right;
}

.fitems {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 50px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    -moz-box-shadow: inset 0 0 100px darkgray;
    -webkit-box-shadow: inset 0 0 100px darkgray;
    box-shadow: inset 0 0 100px darkgray;
    overflow: hidden;
    overflow-y: auto;
    max-height: 630px;
    height: 100%;
    box-sizing: border-box;
}

    .fitems > div {
        overflow: hidden;
    }

        .fitems > div:last-child::after {
            margin-bottom: 20px;
        }

/*#region Bestellingen */

.mainbestellingdiv {
    overflow: hidden;
    overflow-y: auto;
    max-height: 665px;
    height: 100%;
    padding: 0%;
    box-sizing: border-box;
    flex-shrink: 0;
}

.bestellingdiv {
    display: block;
}

.binfodiv {
    background-color: gray;
    color: whitesmoke;
    width: 100%;
    display: grid;
    grid-template-columns: 27% 20% 15% 20% 18%;
    text-align: center;
}

    .binfodiv > span:first-child {
        text-align: right;
    }

    .binfodiv > span:last-child {
        text-align: left;
        margin-left: 1%;
        padding-left: 2%;
    }

.bitemlistdiv {
    background-color: transparent;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.bitemdiv {
    height: 200px;
    background-color: lightgray;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 35% 25%;
    border: solid black 2px;
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow 0.5s ease-out;
}

    .bitemdiv:hover {
        cursor: pointer;
        -moz-box-shadow: inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow: inset 0 0 10px #000000;
        transition: box-shadow 0.5s ease-out;
    }

    .bitemdiv:active {
        cursor: default;
    }

    .bitemdiv > img {
        margin: auto;
        height: 80%;
    }

    .bitemdiv > span {
        margin: auto;
    }

/*#endregion */

/*#region Upload */

#uploaduitleg {
    text-align: center;
    margin-bottom: 2%;
}

    #uploaduitleg > ul {
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

        #uploaduitleg > ul > li {
            list-style-type: '- ';
            margin-left: 10%;
            list-style-position: inside;
        }

.uploaddiv {
    height: 100%;
}

    .uploaddiv > span {
        display: block;
        text-align: center;
        margin-bottom: 1%;
    }

    .uploaddiv > input {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        color: gray;
        font-size: 1em;
        width: 20%;
        margin-bottom: 2%;
        text-align: center;
        border: solid gray 2px;
    }

        .uploaddiv > input:hover {
            background-color: whitesmoke;
            transition: background-color 0.5s ease-out;
        }

        .uploaddiv > input:active {
            background-color: gray;
            transition: background-color 0.2s ease-in;
        }

    .uploaddiv > div {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 34% 33% 33%;
    }

        .uploaddiv > div > div {
            position: relative;
            height: 100%;
        }

            .uploaddiv > div > div > span {
                text-align: center;
                width: 100%;
                display: block;
            }

            .uploaddiv > div > div > .button {
                margin-left: 30%;
                margin-right: 30%;
                width: 40%;
            }

            .uploaddiv > div > div > div {
                display: grid;
                grid-template-columns: 50% 50%;
            }

                .uploaddiv > div > div > div > input {
                    margin: auto;
                    margin-left: 10%;
                }

.file-upload, .file-upload span {
    /*width: 90px;*/
}

.file-upload {
    width: 100%;
    display: flex;
    overflow: hidden;
}

.fubutton {
    margin-right: 0 !important;
    margin-top: 0 !important;
    width: 50%;
    padding: 5px !important;
    font-size: .7em !important;
    vertical-align: central;
}

.futxt {
    top: 0;
    left: 0;
    margin: 0;
    font-weight: bold;
    background-color: white;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: gray solid 2px;
    font-size: .8em !important;
    word-break: break-word;
}

.fuinput {
    top: 0;
    left: 0;
    margin: 0;
    font-weight: bold;
    /* Loses tab index in webkit if width is set to 0 */
    opacity: 0;
    background-color: red;
    width: 0%;
    height: 0%;
}
/*#endregion */

/*#region Overzicht */

.overzichtdiv > div {
    height: 1200px;
    width: 100%;
}

#genereeroverzicht {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 20%;
}

    #genereeroverzicht > div {
        width: 100%;
    }

        #genereeroverzicht > div > div {
            width: 100%;
            display: flex;
            height: 50%;
        }


        #genereeroverzicht > div > div > span, #genereeroverzicht > div > div > input {
            margin: auto;
            text-align: center;
        }

#klantidoverzicht {
    height: 30%;
}

    #klantidoverzicht > div {
        height: 30%;
    }

        #klantidoverzicht > div:first-child {
            display: flex;
        }

        #klantidoverzicht > div:last-child {
            overflow: hidden;
        }

        #klantidoverzicht > div > input:first-child {
            margin-left: auto;
            margin-top: auto;
            margin-right: 0;
            margin-bottom: auto;
            font-size: 0.8em;
            padding: 10px;
        }


        #klantidoverzicht > div > input:last-child {
            margin-left: 0;
            margin-top: auto;
            margin-right: auto;
            margin-bottom: auto;
        }

        #klantidoverzicht > div > div {
            width: 100%;
            display: flex;
            height: 50%;
        }

            #klantidoverzicht > div > div > span {
                width: 20%;
                display: flex;
                justify-content: center;
                align-items: center;
                word-break:break-word;
            }

            #klantidoverzicht > div > div:first-child > span {
                background-color: #4a4a4a;
                border: lightgray dotted 2px;
                color: whitesmoke;
            }

            #klantidoverzicht > div > div:last-child > span {
                background-color: whitesmoke;
                border: lightgray dotted 2px;
                color: #4a4a4a;
                font-size: 1vw;
            }

/*#endregion */
/*#endregion */
/*#region Winkelwagen */
#winkelwagendiv {
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 358px);
}

    #winkelwagendiv > h1 {
        font-size: 2em;
        text-align: center;
        width: 100%;
        margin-top: 5%;
        margin-bottom: 1%;
    }

    #winkelwagendiv > div {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #winkelwagendiv > div > div {
            min-height: 80%;
            width: 100%;
            margin-bottom: 2%;
        }

            #winkelwagendiv > div > div > p {
                text-align: center;
            }

/*#region Items */

.wp {
    width: 60%;
    height: 200px;
    background-color: lightgray;
    border: gray 1px dotted;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: 30% 25% 10% 10% 10% 10% 10%;
}

    .wp > img {
        height: 200px;
        margin: auto;
    }

    .wp > span {
        margin: auto;
    }

        .wp > span:first-child {
            max-width: 20px;
        }

    .wp > input[type=number] {
        width: 60px;
        text-align: center;
        margin: auto;
        height: 20%;
        font-size: 1em;
    }

.dispose {
    background-image: url('../images/trashcan.png');
    margin-right: 4%;
    margin-left: auto;
}

.fav {
    margin-left: 4%;
    margin-right: auto;
}

.dispose, .fav {
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
    height: 40px;
    width: 40px;
    background-color: #e6e5e3;
    transition: background-color 0.2s ease-in;
    cursor: pointer;
    border: none;
}

    .dispose:hover, .fav:hover {
        background-color: #cfcfcf;
        transition: background-color 0.5s ease-out;
    }

    .dispose:active, .fav:active {
        background-color: gray;
        cursor: default;
    }

.pnlNoInWinkelwagen > p > a, .pnlNoInWinkelwagen > p > input {
    color: #666666;
    border: none;
    background-color: transparent;
    font-size: 1em;
    cursor: pointer;
    text-decoration: underline;
}

    .pnlNoInWinkelwagen > p > a:hover, .pnlNoInWinkelwagen > p > input:hover {
        color: gray;
    }

    .pnlNoInWinkelwagen > p > a:active, .pnlNoInWinkelwagen > p > input:active {
        color: black;
        cursor: default;
    }

    .pnlNoInWinkelwagen > p > a:visited, .pnlNoInWinkelwagen > p > input:visited {
        color: #666666;
    }
/*#endregion */

#winkelwagentop {
    width: 60%;
    height: 50px !important;
    background-color: lightgray;
    border: gray 1px dotted;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: 30% 25% 10% 10% 10% 10% 10%;
}

    #winkelwagentop > span {
        min-height: 70px;
        text-align: center;
        overflow: hidden;
    }

#winkelwagentotaal {
    width: 60%;
    height: 50px;
    background-color: lightgray;
    border: gray 1px dotted;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: 30% 25% 10% 10% 10% 10% 10%;
}

    #winkelwagentotaal > input, #winkelwagentotaal > span {
        margin: auto;
        font-weight: bold;
    }

/*#endregion */
/*#region Geslaagd */
.geslaagddiv {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    min-height: calc(100vh - 358px); /*12 pixels minder dan header (70px) + footer (300px) height*/
}

    .geslaagddiv > div {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

/*h1 is bij bevestiging*/

/*#endregion */
.button {
    padding: 10px;
    border: black solid 2px;
    font-size: 0.8em;
    cursor: pointer;
    float: right;
    margin-right: 2%;
    margin-top: 2%;
    background-color: lightgray;
    transition: background-color 0.2s ease-in;
    color: black;
}

    .button:hover {
        background-color: darkgray;
        transition: background-color 0.5s ease-out;
    }

    .button:active {
        background-color: gray;
        cursor: default;
    }
